<div class="container-stats py-6 sm:py-6">
  <div>
    <div
      class="mx-auto flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-6 lg:max-w-none lg:flex-row lg:items-end"
    >
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-[#F9D442] p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start"
      >
        <p class="flex-none text-3xl sm:text-4xl font-bold text-[#0E1218]">
          500+
        </p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-2xl font-semibold text-[#0E1218]">Artistes</p>
          <p class="description mt-4 text-sm text-[#2D333C] leading-5">
            Plus de 500 artistes Lyonnais utilisent MeetTheMusic pour mettre en
            avant leur créativité et étendre leur portée, créant ainsi des
            expériences musicales inoubliables à travers la ville.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-[#A2D2FF] p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44"
      >
        <p class="flex-none text-3xl sm:text-4xl font-bold text-[#0E1218]">
          1 000+
        </p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-2xl font-semibold text-[#0E1218]">Établissements</p>
          <p class="description mt-4 text-sm leading-5 text-[#2D333C]">
            Rejoignez plus de mille espaces événementiels lyonnais qui
            collaborent avec des artistes pour enrichir leur offre culturelle,
            transformant chaque venue en une célébration de la musique live.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-[#EB7565] p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28"
      >
        <p class="flex-none text-3xl sm:text-4xl font-bold text-[#0E1218]">
          600+
        </p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-2xl font-semibold text-[#0E1218]">Événements</p>
          <p class="description mt-4 text-sm leading-5 text-[#2D333C]">
            Découvrez et participez à plus de 600 événements chaque année,
            propulsés par MeetTheMusic, où la diversité et la richesse des
            talents lyonnais sont à l'honneur, offrant des expériences vibrantes
            à un public passionné.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
