<div class="relative inline-block text-left">
  <h2>Recherche des Utilisateurs</h2>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Rechercher..."
    (input)="searchUsers()"
    (focus)="isOpen = true"
    (blur)="isOpen = false"
  />

  <div
    class="absolute z-10 mt-3 w-52 origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    [class.hidden]="!isOpen"
  >
    <div *ngFor="let user of users" class="py-1">
      <a routerLink="/artist/{{ user.alias }}"
        >{{ user.firstName }} {{ user.lastName }}</a
      >
    </div>
  </div>
</div>
