<!-- <div class="relative inline-block text-left">
  <h2>Recherche des Utilisateurs</h2>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Rechercher..."
    (input)="searchUsers()"
    (focus)="isOpen = true"
    (focusout)="onFocusOut()"
  />

  <div
    class="absolute z-10 mt-3 w-52 origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    [class.hidden]="!isOpen"
  >
    <div *ngFor="let user of users" class="py-1">
      <a routerLink="/artist/{{ user.alias }}"
        >{{ user.firstName }} {{ user.lastName }}</a
      >
    </div>
  </div>
</div> -->

<div class="flex flex-1 justify-center px-2 lg:ml-6 lg:justify-end">
  <div class="w-full max-w-lg lg:max-w-xs">
    <label for="search" class="sr-only">Search</label>
    <div class="relative inline-block text-left">
      <div
        class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
      >
        <svg
          class="h-5 w-5 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <input
        id="search"
        name="search"
        class="block w-full rounded-md border-0 bg-gray-700 py-1.5 pl-10 pr-3 text-gray-300 placeholder:text-gray-400 focus:bg-white focus:text-gray-900 focus:ring-0 sm:text-sm sm:leading-6"
        placeholder="Search"
        [(ngModel)]="searchQuery"
        (input)="searchUsers()"
        (focus)="isOpen = true"
        (focusout)="onFocusOut()"
      />
    </div>
    <div
      class="absolute z-10 mt-3 w-52 origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      [class.hidden]="!isOpen"
    >
      <div
        *ngFor="let user of users"
        class="py-2 px-3 rounded-lg hover:bg-gray-100"
      >
        <a
          routerLink="/artist/{{ user.alias }}"
          class="text-[#0E1218] font-[ClashGrotesk-Medium] text-md items-center flex gap-2 capitalize"
          >{{ user.firstName }} {{ user.lastName }}</a
        >
      </div>
    </div>
  </div>
</div>
