.banner-profile-artist {
  border-radius: 25px;
  border: 1px solid var(--DesignLab-Grey-Stroke, #4b515a);
  background: var(--DesignLab-Black, #0e1218);
  padding: 60px;
  width: 100%;
}

.banner-title {
  font-family: 'ClashDisplay-Semibold';
}
