h2 {
  font-family: 'ClashDisplay-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

form,
button,
.description {
  font-family: 'ClashGrotesk-Medium', sans-serif;
  line-height: 24px;
  font-weight: 500;
}
