<form (submit)="onSubmit()" class="text-white">
  <div>
    <label for="first_name" class="text-white">Prénom:</label>
    <input
      type="text"
      id="first_name"
      [(ngModel)]="user.first_name"
      name="first_name"
      required
      class="text-black"
    />
  </div>

  <div>
    <label for="last_name" class="text-white">Nom:</label>
    <input
      type="text"
      id="last_name"
      [(ngModel)]="user.last_name"
      name="last_name"
      required
      class="text-black"
    />
  </div>

  <div>
    <label for="email" class="text-white">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="user.email"
      name="email"
      required
      class="text-black"
    />
  </div>

  <div>
    <label for="password" class="text-white">Mot de passe:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      required
      class="text-black"
    />
  </div>

  <div>
    <label for="phone" class="text-white">Téléphone:</label>
    <input
      type="tel"
      id="phone"
      [(ngModel)]="user.phone"
      name="phone"
      required
      class="text-black"
    />
  </div>

  <button type="submit" class="text-white">Créer un utilisateur</button>
</form>
