<!-- BANNER -->

<div class="container py-3 sm:py-8">
  <h1
    class="text-[#ffffff] text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl"
  >
    <span
      class="text-[#0E1218] bg-[#ffffff] rounded-lg px-3 2xl:rounded-3xl 2xl:px-6"
      >Rejoignez</span
    >
    la Plateforme Ultime pour Artistes
    <span
      class="bg-[#0E1218] border border-[#ffffff] rounded-lg px-1.5 2xl:rounded-3xl 2xl:px-4"
      >&</span
    >
    Espaces Événementiels
  </h1>
</div>

<!-- STATS -->

<div class="container-stats py-6 sm:py-6">
  <div>
    <div
      class="mx-auto flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-6 lg:max-w-none lg:flex-row lg:items-end"
    >
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-[#F9D442] p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start"
      >
        <p class="flex-none text-3xl sm:text-4xl font-bold text-[#0E1218]">
          500+
        </p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-2xl font-semibold text-[#0E1218]">Artistes</p>
          <p class="description mt-2 text-sm text-[#2D333C] leading-5">
            Plongez dans une communauté dynamique à Lyon, où chaque artiste
            contribue à enrichir l'ambiance musicale locale avec sa créativité
            et son énergie unique.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-[#A2D2FF] p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44"
      >
        <p class="flex-none text-3xl sm:text-4xl font-bold text-[#0E1218]">
          1 000+
        </p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-2xl font-semibold text-[#0E1218]">Établissements</p>
          <p class="description mt-2 text-sm leading-5 text-[#2D333C]">
            Découvrez les espaces événementiels les plus en vogue de Lyon, où
            chaque établissement est une expérience unique à vivre et à partager
            avec vos amis.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-[#EB7565] p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28"
      >
        <p class="flex-none text-3xl sm:text-4xl font-bold text-[#0E1218]">
          12,432
        </p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-2xl font-semibold text-[#0E1218]">
            Événements Organisés
          </p>
          <p class="description mt-2 text-sm leading-5 text-[#2D333C]">
            Explorez une variété d'événements musicaux à Lyon, où chaque
            rassemblement est une occasion de célébrer la musique et la culture
            avec des artistes locaux et internationaux.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
