h1 {
  font-family: 'ClashDisplay-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-align: left;
  text-wrap: balance;
}

.container-stats {
  font-family: 'ClashDisplay-Semibold', sans-serif;
}

.description {
  font-family: 'ClashGrotesk-Medium', sans-serif;
}
