<div class="py-6 sm:py-19 lg:py-24 font-[ClashDisplay-Semibold]">
  <div class="mx-auto max-w-7xl">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <div>
        <h2 class="text-base font-semibold leading-6 text-[#9981C2]">
          Rencontrez, collaborez, et performez
        </h2>
        <p class="mt-2 text-3xl font-bold text-[#ffffff] sm:text-4xl">
          Plateforme tout-en-un
        </p>
        <p
          class="mt-6 text-base leading-6 text-[#7D838C] font-[ClashGrotesk-Medium]"
        >
          Explorez une plateforme conçue pour dynamiser les interactions entre
          artistes et lieux de spectacles, enrichissant chaque expérience
          musicale.
        </p>
      </div>
      <dl
        class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-6 text-gray-600 sm:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff] tracking-wider">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Connexions Directes
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Artistes et établissements peuvent se contacter mutuellement pour
            organiser des représentations. Facilitez l'engagement direct et
            commencez de nouvelles collaborations musicales.
          </dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff] tracking-wider">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Profils Artistes Personnalisé
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Chaque artiste peut mettre en avant son style unique, partager ses
            morceaux récents, afficher ses tarifs, et lier ses réseaux sociaux
            pour une présence complète et attractive.
          </dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff]">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Préférences des Établissements
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Les établissements affichent le type de performances qu'ils
            recherchent, attirant ainsi les artistes les plus adaptés à leur
            ambiance et à leurs besoins spécifiques.
          </dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff] tracking-wider">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Abonnement Premium
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Boostez votre visibilité sur la plateforme avec un abonnement
            premium, permettant une mise en avant prioritaire dans les
            recherches et suggestions.
          </dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff] tracking-wider">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Gestion de la Billetterie
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Les établissements peuvent gérer facilement la billetterie de leurs
            événements via notre système intégré, simplifiant la planification
            et la vente de billets.
          </dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff] tracking-wider">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Notifications Personnalisées
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Recevez des alertes sur les nouveaux matches, les messages, les
            invitations à des événements, et plus encore, adaptées à vos
            préférences et activités sur la plateforme.
          </dd>
        </div>

        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff] tracking-wider">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Visualisation des Performances
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Accédez aux détails des performances passées, aux évaluations et aux
            commentaires pour mieux choisir avec qui collaborer.
          </dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-[#ffffff] tracking-wider">
            <svg
              class="absolute left-0 top-1 h-5 w-5 text-[#9981C2]"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Suivi de Profil
          </dt>
          <dd class="mt-2 text-[#7D838C] font-[ClashGrotesk-Medium]">
            Découvrez qui s'intéresse à votre profil, avec des informations
            détaillées pour les utilisateurs premium, encourageant des
            connexions plus stratégiques.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
