<header class="bg-[#0E1216]">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between px-6 py-4 lg:px-8"
    aria-label="Global"
  >
    <a routerLink="/" class="-m-1.5 p-1.5">
      <span class="sr-only">MeetTheMusic Company</span>
      <img
        class="h-12 w-auto md:h-14 md:w-auto"
        src="../../../../assets/logo/logo.svg"
        alt=""
      />
    </a>

    <div class="flex lg:hidden justify-end">
      @if (isLogged()) {
        <div class="w-2/3 max-w-sm mr-3">
          <label for="search" class="sr-only">Search</label>
          <div class="relative inline-block text-left">
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <svg
                class="h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              id="search"
              name="search"
              class="block w-full rounded-md border-0 bg-gray-700 py-1.5 pl-10 pr-3 text-gray-300 placeholder:text-gray-400 focus:bg-white focus:text-gray-900 focus:ring-0 sm:text-sm sm:leading-6"
              placeholder="Search"
              [(ngModel)]="searchQuery"
              (input)="searchUsers()"
              (focus)="isSearchBarOpen = true"
              (focusout)="onFocusOut()"
            />
          </div>
          <div
            class="absolute z-10 mt-3 w-52 origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            [class.hidden]="!isSearchBarOpen"
          >
            <div
              *ngFor="let user of users"
              class="py-2 px-3 rounded-lg hover:bg-gray-100"
            >
              <a
                *ngIf="user.role === 'artist'"
                routerLink="/artist/{{ user.alias }}"
                activatedRoute="router-link-active"
                class="text-[#0E1218] font-[ClashGrotesk-Medium] text-md items-center flex gap-2 capitalize"
                >{{ user.firstName }} {{ user.lastName }}</a
              >

              <a
                *ngIf="user.role === 'promoter'"
                routerLink="/establishment/{{ user.alias }}"
                activatedRoute="router-link-active"
                class="text-[#0E1218] font-[ClashGrotesk-Medium] text-md items-center flex gap-2 capitalize"
                >{{ user.firstName }} {{ user.lastName }}</a
              >
            </div>
          </div>
        </div>
      }
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        (click)="toggleMobileMenu()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex items-center lg:gap-x-7">
      <!-- <a
        [routerLink]="['/work-in-progress']"
        class="text-sm font-semibold leading-6 text-white"
        >Découvrir</a
      >
      <a
        [routerLink]="['/work-in-progress']"
        class="text-sm font-semibold leading-6 text-white"
        >Communauté</a
      >
      <a
        [routerLink]="['/work-in-progress']"
        class="text-sm font-semibold leading-6 text-white"
        >Services</a
      > -->

      <div class="button-container flex items-center lg:gap-x-4">
        <button>
          <span class="sr-only">Message</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 10H16M8 14H12M21 12C21 16.9706 16.9706 21 12 21C10.843 21 9.73701 20.7817 8.72095 20.384C8.33909 20.2345 7.92598 20.1704 7.5216 20.2385L3.69276 20.8833C3.35374 20.9404 3.05957 20.6463 3.11667 20.3072L3.76147 16.4784C3.82957 16.074 3.76547 15.6609 3.61601 15.279C3.21832 14.263 3 13.157 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </button>

        <button>
          <span class="sr-only">Notification</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 8C6 6.4087 6.63214 4.88258 7.75736 3.75736C8.88258 2.63214 10.4087 2 12 2C13.5913 2 15.1174 2.63214 16.2426 3.75736C17.3679 4.88258 18 6.4087 18 8C18 15 21 17 21 17H3C3 17 6 15 6 8Z"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.3 21C10.4674 21.3044 10.7135 21.5583 11.0125 21.7352C11.3116 21.912 11.6526 22.0053 12 22.0053C12.3475 22.0053 12.6885 21.912 12.9876 21.7352C13.2866 21.5583 13.5327 21.3044 13.7 21"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>

        @if (isLogged()) {
          <div class="w-full max-w-lg lg:max-w-xs">
            <label for="search" class="sr-only">Search</label>
            <div class="relative inline-block text-left">
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              >
                <svg
                  class="h-5 w-5 text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                id="search"
                name="search"
                class="block w-full rounded-md border-0 bg-gray-700 py-1.5 pl-10 pr-3 text-gray-300 placeholder:text-gray-400 focus:bg-white focus:text-gray-900 focus:ring-0 sm:text-sm sm:leading-6"
                placeholder="Search"
                [(ngModel)]="searchQuery"
                (input)="searchUsers()"
                (focus)="isSearchBarOpen = true"
                (focusout)="onFocusOut()"
              />
            </div>
            <div
              class="absolute z-10 mt-3 w-52 origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              [class.hidden]="!isSearchBarOpen"
            >
              <div
                *ngFor="let user of users"
                class="py-2 px-3 rounded-lg hover:bg-gray-100"
              >
                <a
                  *ngIf="user.role === 'artist'"
                  routerLink="/artist/{{ user.alias }}"
                  activatedRoute="router-link-active"
                  class="text-[#0E1218] font-[ClashGrotesk-Medium] text-md items-center flex gap-2 capitalize"
                  >{{ user.firstName }} {{ user.lastName }}</a
                >

                <a
                  *ngIf="user.role === 'promoter'"
                  routerLink="/establishment/{{ user.alias }}"
                  activatedRoute="router-link-active"
                  class="text-[#0E1218] font-[ClashGrotesk-Medium] text-md items-center flex gap-2 capitalize"
                  >{{ user.firstName }} {{ user.lastName }}</a
                >
              </div>
            </div>
          </div>
        }
      </div>

      @if (!isLogged()) {
        <a
          routerLink="/login"
          class="text-sm font-semibold leading-6 text-white flex gap-2"
        >
          Connexion<span aria-hidden="true">&rarr;</span>
        </a>
      } @else {
        <div class="relative inline-block text-left">
          <button (click)="toggleDropdown()" class="flex items-center gap-5">
            <div
              class="inline-flex h-11 w-11 items-center rounded-full bg-gray-500 justify-around"
            >
              <span
                class="text-md font-medium leading-none text-white font-[ClashDisplay-Medium] tracking-wider"
                >{{ userData.initial }}</span
              >
            </div>
            <div
              class="text-md font-medium leading-none text-white font-[ClashDisplay-Medium] tracking-wider capitalize flex items-center gap-1"
            >
              {{ userData.firstName }} {{ userData.lastName }}
              <svg
                class="-mr-1 h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </button>
          <div
            class="absolute z-10 mt-3 w-52 origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            [class.hidden]="!dropdownOpen"
          >
            <!-- DropDown -->
            <div class="py-1">
              @if (userData.role === 'artist') {
                <a
                  routerLink="/artist/{{ userData.alias }}"
                  (click)="toggleDropdown()"
                  class="text-[#0E1218] flex items-center gap-2 font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:underline hover:rounded-t-lg"
                >
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="#0E1218"
                    >
                      <path
                        d="M2 12C2 12 5 5 12 5C19 5 22 12 22 12C22 12 19 19 12 19C5 19 2 12 2 12Z"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="#0E1218"
                      />
                      <path
                        d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="#0E1218"
                      />
                    </svg>
                  </span>
                  Voir le profil
                </a>
              } @else if (userData.role === 'promoter') {
                <a
                  routerLink="/establishment/{{ userData.alias }}"
                  (click)="toggleDropdown()"
                  class="text-[#0E1218] flex items-center gap-2 font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:underline hover:rounded-t-lg"
                >
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="#0E1218"
                    >
                      <path
                        d="M2 12C2 12 5 5 12 5C19 5 22 12 22 12C22 12 19 19 12 19C5 19 2 12 2 12Z"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="#0E1218"
                      />
                      <path
                        d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="#0E1218"
                      />
                    </svg>
                  </span>
                  Voir le profil
                </a>
              }

              <div class="border-t border-gray-200 w-[95%] mx-auto"></div>

              <p
                class="text-[#0E1218] block font-[ClashDisplay-SemiBold] px-4 py-2 text-base tracking-wide mt-1"
              >
                Mon Compte
              </p>
              <a
                [routerLink]="['/work-in-progress']"
                routerLinkActive="router-link-active"
                (click)="toggleDropdown()"
                class="text-[#9981C2] font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:bg-gray-100 capitalize flex items-center gap-2"
              >
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_15_257)">
                      <path
                        d="M11.9687 4.60311C11.8902 4.36012 11.6746 4.18754 11.4197 4.16456L7.95614 3.85007L6.58656 0.64445C6.48558 0.409519 6.25559 0.257446 6.00006 0.257446C5.74453 0.257446 5.51454 0.409519 5.41356 0.644999L4.04399 3.85007L0.579908 4.16456C0.325385 4.18809 0.110414 4.36012 0.0314019 4.60311C-0.0476102 4.8461 0.0253592 5.11261 0.2179 5.28062L2.83592 7.57663L2.06392 10.9773C2.00744 11.2273 2.10448 11.4858 2.31195 11.6357C2.42346 11.7163 2.55393 11.7573 2.68549 11.7573C2.79893 11.7573 2.91145 11.7267 3.01244 11.6663L6.00006 9.88071L8.98659 11.6663C9.20513 11.7978 9.48062 11.7858 9.68762 11.6357C9.89518 11.4853 9.99214 11.2268 9.93565 10.9773L9.16366 7.57663L11.7817 5.28107C11.9742 5.11261 12.0477 4.84655 11.9687 4.60311Z"
                        fill="#9981C2"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_15_257">
                        <rect width="12" height="12" fill="#9981C2" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                Essai premium</a
              >

              <div class="border-t border-gray-200 w-[95%] mx-auto"></div>

              <p
                class="text-[#0E1218] block font-[ClashDisplay-SemiBold] tracking-wide px-4 py-2 text-base mt-1"
              >
                Gérer
              </p>

              <a
                [routerLink]="['/work-in-progress']"
                (click)="toggleDropdown()"
                class="text-[#0E1218] flex items-center gap-1.5 font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:bg-gray-100 capitalize"
              >
                <span>
                  <svg
                    viewBox="0 0 20 20"
                    width="15"
                    height="15"
                    fill="currentColor"
                    aria-hidden="true"
                    fill="#0E1218"
                  >
                    <path
                      d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z"
                      fill="#0E1218"
                    />
                    <path
                      d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z"
                      fill="#0E1218"
                    />
                  </svg>
                </span>
                Profil</a
              >
              <div class="border-t border-gray-200 w-[95%] mx-auto"></div>

              <a
                routerLink="/login"
                (click)="onLogout()"
                (click)="toggleDropdown()"
                class="text-[#0E1218] font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:underline items-center flex gap-2"
              >
                Déconnexion
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div
    class="lg:hidden"
    [class.hidden]="!mobileMenuOpen"
    role="dialog"
    aria-modal="true"
  >
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-[#0E1216] px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10"
    >
      <div class="flex items-center justify-between">
        @if (isLogged()) {
          <div class="relative inline-block text-left">
            <button (click)="toggleDropdown()" class="flex items-center gap-5">
              <div
                class="inline-flex h-11 w-11 items-center rounded-full bg-gray-500 justify-around"
              >
                <span
                  class="text-md font-medium leading-none text-white font-[ClashDisplay-Medium] tracking-wider"
                  >{{ userData.initial }}</span
                >
              </div>
              <div
                class="text-md font-medium leading-none text-white font-[ClashDisplay-Medium] tracking-wider capitalize flex items-center gap-1"
              >
                {{ userData.firstName }} {{ userData.lastName }}
                <svg
                  class="-mr-1 h-5 w-5 text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </button>
            <div
              class="absolute z-10 mt-3 w-52 origin-top-right rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              [class.hidden]="!dropdownOpen"
            >
              <!-- DropDown -->
              <div class="py-1">
                @if (userData.role === 'artist') {
                  <a
                    routerLink="/artist/{{ userData.alias }}"
                    (click)="toggleDropdown()"
                    class="text-[#0E1218] flex items-center gap-2 font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:underline hover:rounded-t-lg"
                  >
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="#0E1218"
                      >
                        <path
                          d="M2 12C2 12 5 5 12 5C19 5 22 12 22 12C22 12 19 19 12 19C5 19 2 12 2 12Z"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          fill="#0E1218"
                        />
                        <path
                          d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          fill="#0E1218"
                        />
                      </svg>
                    </span>
                    Voir le profil
                  </a>
                } @else if (userData.role === 'promoter') {
                  <a
                    routerLink="/establishment/{{ userData.alias }}"
                    (click)="toggleDropdown()"
                    class="text-[#0E1218] flex items-center gap-2 font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:underline hover:rounded-t-lg"
                  >
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="#0E1218"
                      >
                        <path
                          d="M2 12C2 12 5 5 12 5C19 5 22 12 22 12C22 12 19 19 12 19C5 19 2 12 2 12Z"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          fill="#0E1218"
                        />
                        <path
                          d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          fill="#0E1218"
                        />
                      </svg>
                    </span>
                    Voir le profil
                  </a>
                }

                <div class="border-t border-gray-200 w-[95%] mx-auto"></div>

                <p
                  class="text-[#0E1218] block font-[ClashDisplay-SemiBold] px-4 py-2 text-base tracking-wide mt-1"
                >
                  Mon Compte
                </p>
                <a
                  [routerLink]="['/work-in-progress']"
                  (click)="toggleDropdown()"
                  class="text-[#9981C2] font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:bg-gray-100 capitalize flex items-center gap-2"
                >
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12"
                      height="12"
                      viewBox="0 0 12 12"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_15_257)">
                        <path
                          d="M11.9687 4.60311C11.8902 4.36012 11.6746 4.18754 11.4197 4.16456L7.95614 3.85007L6.58656 0.64445C6.48558 0.409519 6.25559 0.257446 6.00006 0.257446C5.74453 0.257446 5.51454 0.409519 5.41356 0.644999L4.04399 3.85007L0.579908 4.16456C0.325385 4.18809 0.110414 4.36012 0.0314019 4.60311C-0.0476102 4.8461 0.0253592 5.11261 0.2179 5.28062L2.83592 7.57663L2.06392 10.9773C2.00744 11.2273 2.10448 11.4858 2.31195 11.6357C2.42346 11.7163 2.55393 11.7573 2.68549 11.7573C2.79893 11.7573 2.91145 11.7267 3.01244 11.6663L6.00006 9.88071L8.98659 11.6663C9.20513 11.7978 9.48062 11.7858 9.68762 11.6357C9.89518 11.4853 9.99214 11.2268 9.93565 10.9773L9.16366 7.57663L11.7817 5.28107C11.9742 5.11261 12.0477 4.84655 11.9687 4.60311Z"
                          fill="#9981C2"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_15_257">
                          <rect width="12" height="12" fill="#9981C2" />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                  Essai premium</a
                >

                <div class="border-t border-gray-200 w-[95%] mx-auto"></div>

                <p
                  class="text-[#0E1218] block font-[ClashDisplay-SemiBold] tracking-wide px-4 py-2 text-base mt-1"
                >
                  Gérer
                </p>

                <a
                  [routerLink]="['/work-in-progress']"
                  (click)="toggleDropdown()"
                  class="text-[#0E1218] flex items-center gap-1.5 font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:bg-gray-100 capitalize"
                >
                  <span>
                    <svg
                      viewBox="0 0 20 20"
                      width="15"
                      height="15"
                      fill="currentColor"
                      aria-hidden="true"
                      fill="#0E1218"
                    >
                      <path
                        d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z"
                        fill="#0E1218"
                      />
                      <path
                        d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z"
                        fill="#0E1218"
                      />
                    </svg>
                  </span>
                  Profil</a
                >
                <div class="border-t border-gray-200 w-[95%] mx-auto"></div>

                <a
                  routerLink="/login"
                  (click)="onLogout()"
                  (click)="toggleDropdown()"
                  class="text-[#0E1218] font-[ClashGrotesk-Medium] px-4 py-2 text-md hover:underline items-center flex gap-2"
                >
                  Déconnexion
                </a>
              </div>
            </div>
          </div>
        } @else {
          <a [routerLink]="['/work-in-progress']" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img
              class="h-10 w-auto"
              src="../../../../assets/logo/logo.svg"
              alt=""
            />
          </a>
        }
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
          (click)="toggleMobileMenu()"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root realtive">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              [routerLink]="['/work-in-progress']"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-[#2D333C]"
              >Découvrir</a
            >
            <a
              [routerLink]="['/work-in-progress']"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-[#2D333C]"
              >Services</a
            >
            <a
              [routerLink]="['/work-in-progress']"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-[#2D333C]"
              >Communauté</a
            >
          </div>
          <div
            class="py-6"
            (click)="toggleMobileMenu()"
            (click)="toggleDropdown()"
          >
            @if (!isLogged()) {
              <a
                routerLink="/login"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-[#2D333C]"
              >
                Connexion
              </a>
            } @else {
              <a
                routerLink="/login"
                (click)="onLogout()"
                class="-mx-3 flex gap-2 rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-[#2D333C]"
              >
                Déconnexion<span aria-hidden="true">&rarr;</span>
              </a>
            }
          </div>
        </div>
        <div
          class="divide-y divide-gray-500/10 absolute bottom-0 left-0 right-0"
        >
          <div class="space-y-2 py-5"></div>
          <div class="py-6">
            <div class="button-container flex items-center justify-evenly">
              <button>
                <span class="sr-only">Search</span>

                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15 24C19.4183 24 23 20.4183 23 16C23 11.5817 19.4183 8 15 8C10.5817 8 7 11.5817 7 16C7 20.4183 10.5817 24 15 24Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M25 25.9999L20.65 21.6499"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>

              <button>
                <span class="sr-only">Message</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 10H16M8 14H12M21 12C21 16.9706 16.9706 21 12 21C10.843 21 9.73701 20.7817 8.72095 20.384C8.33909 20.2345 7.92598 20.1704 7.5216 20.2385L3.69276 20.8833C3.35374 20.9404 3.05957 20.6463 3.11667 20.3072L3.76147 16.4784C3.82957 16.074 3.76547 15.6609 3.61601 15.279C3.21832 14.263 3 13.157 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                  />
                </svg>
              </button>

              <button>
                <span class="sr-only">Notification</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 8C6 6.4087 6.63214 4.88258 7.75736 3.75736C8.88258 2.63214 10.4087 2 12 2C13.5913 2 15.1174 2.63214 16.2426 3.75736C17.3679 4.88258 18 6.4087 18 8C18 15 21 17 21 17H3C3 17 6 15 6 8Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10.3 21C10.4674 21.3044 10.7135 21.5583 11.0125 21.7352C11.3116 21.912 11.6526 22.0053 12 22.0053C12.3475 22.0053 12.6885 21.912 12.9876 21.7352C13.2866 21.5583 13.5327 21.3044 13.7 21"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
