<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p
      class="text-4xl sm:text-7xl font-[ClashGrotesk-SemiBold] text-[#9981C2] mb-9"
    >
      Travail en cours...
    </p>
    <h1
      class="text-2xl font-[ClashDisplay-Medium] tracking-tight text-[#FFFFFF] sm:text-5xl mb-6"
    >
      Cette page est en cours de construction
    </h1>
    <p
      class="text-base sm:text-lg font-[ClashGrotesk-Regular] leading-7 text-[#7D838C] mb-1"
    >
      Nous travaillons activement à l’ajout de nouvelles fonctionnalités pour
      améliorer votre expérience.
    </p>
    <p
      class="text-base sm:text-lg font-[ClashGrotesk-Regular] leading-7 text-[#7D838C]"
    >
      Cette page sera disponible très bientôt.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        (click)="goBack()"
        class="cursor-pointer rounded-2xl bg-[#6D9985] p-4 text-base sm:text-lg font-[ClashDisplay-Medium] text-white shadow-sm hover:bg-[#9981C2] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#9981C2] transition-colors duration-200 ease-in-out"
        >Retour à la page précédente
      </a>
    </div>
  </div>
</main>
